/* reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    /* max-width: ; */
    margin: auto;
}

.row {

}

/* CLEARFIX  */
.container::after {
    content: "";
    display: table;
    clear: both;
}

/* colonne flottanti */
[class*="col"]{
    float:left;
}

/* COLONNE */
.col1 {
    width: calc( 100% / 12 );
}

.col2 {
    width: calc((100% / 12) * 2);
}

.col3 {
    width: calc((100% / 12) * 3);
}

.col4 {
    width: calc((100% / 12) * 4);
}

.col5 {
    width: calc((100% / 12) * 5);
}

.col6 {
    width: 50%;
}

.col7 {
    width: calc((100% / 12) * 7);
}

.col8 {
    width: calc((100% / 12) * 8);
}

.col9 {
    width: calc((100% / 12) * 9);
}

.col10 {
    width: calc((100% / 12) * 10);
}

.col11 {
    width: calc((100% / 12) * 11);
}

.col12 {
    width: 100%;
}

/* COLONNE OFFSET */
.col-offset-1 {
    margin-left: calc( (100% / 12) * 11 );
}

.col-offset-2 {
    margin-left: calc( (100% / 12) * 11 );
}

.col-offset-3 {
    margin-left: calc( (100% / 12) * 3 );
}

.col-offset-4 {
    margin-left: calc( (100% / 12) * 4 );
}

.col-offset-5 {
    margin-left: calc( (100% / 12) * 5 );
}

.col-offset-6 {
    margin-left: calc( (100% / 12) * 6 );
}

.col-offset-7 {
    margin-left: calc( (100% / 12) * 7 );
}

.col-offset-8 {
    margin-left: calc( (100% / 12) * 8 );
}

.col-offset-9 {
    margin-left: calc( (100% / 12) * 9 );
}

.col-offset-10 {
    margin-left: calc( (100% / 12) * 10 );
}

.col-offset-11 {
    margin-left: calc( (100% / 12) * 11 );
}


/* media questy XS device */
@media all and (max-width: 767px) {

}


/* media questy MD device */
@media all and (max-width: 991px) and (min-width: 768px) {

}

/* media questy LG device */
@media all and (min-width: 992px) {

}
